<div class="Box">
  <div fxLayout="row" fxLayoutGap="12px" class="header">
    <mat-icon class="grey_color">star</mat-icon>
    <mat-icon
      [ngClass]="{
        violet_color: document.type === 'Documento audio - MP3',
        primary_color: document.type === 'Documento texto - PDF'
      }"
    >
      {{ document.type === "Documento audio - MP3" ? "volume_up" : "article" }}
    </mat-icon>
    <div fxLayout="column" fxFlex="35%">
      <div class="bold lineClamp2">{{ document.name }}</div>
      <div fxLayout="row">
        <div fxFlex="70%" class="Dato_S grey_color">{{ document.type }}</div>
        <div fxFlex="15%">
          <mat-icon
            *ngIf="document.downloable"
            class="Icon_S secondary_color cursor"
            (click)="downloadClick()"
            >file_download</mat-icon
          >
        </div>
        <div fxFlex="15%">
          <mat-icon
            *ngIf="document.uploable"
            class="Icon_S secondary_color cursor"
            (click)="uploadClick()"
            >file_upload</mat-icon
          >
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="25%" fxFlexAlign="center">
      <div class="lineClamp2 Dato_S">{{ document.description }}</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <div class="status lineClamp2 secondary_color Dato_S">
        {{ document.status }}
      </div>
    </div>
    <div fxLayout="column" fxFlexAlign="center" fxFlex="6%">
      <div
        *ngIf="document.sharedWith"
        class="primary_color cursor"
        fxLayoutGap="5px"
        (click)="sharedClick()"
      >
        <mat-icon class="Icon_S">share</mat-icon>
        <span>{{
          document.sharedWith > 99 ? "+99 " : document.sharedWith
        }}</span>
      </div>
    </div>
    <div fxLayout="column" fxFlexAlign="center" fxFlex="6%">
      <div
        *ngIf="document.links"
        class="primary_color cursor"
        fxLayoutGap="5px"
        (click)="linksClick()"
      >
        <mat-icon class="Icon_S">link</mat-icon>
        <span>{{ document.links > 99 ? "+99 " : document.links }}</span>
      </div>
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      <mat-icon
        *ngIf="!document.expanded"
        class="primary_color Icon_S cursor"
        (click)="document.expanded = true"
        >expand_more</mat-icon
      >
      <mat-icon
        *ngIf="document.expanded"
        class="primary_color Icon_S cursor"
        (click)="document.expanded = false"
        >expand_less</mat-icon
      >
    </div>
  </div>
  <div
    class="grey_bg"
    *ngIf="document.expanded"
    [class.expanded]="document.expanded"
    fxLayout="row"
    fxLayoutAlign="space-between"
  >
    <div>
      <mat-icon
        fxFlex="column"
        class="Inside_Icon"
        [ngClass]="{
          violet_color: document.type === 'Documento audio - MP3',
          primary_color: document.type === 'Documento texto - PDF'
        }"
        >{{
          document.type === "Documento audio - MP3" ? "volume_up" : "article"
        }}</mat-icon
      >
      <mat-icon class="Big_Icon">insert_drive_file</mat-icon>
    </div>
    <div fxLayout="column" class="Dato_S" fxLayoutGap="10px" fxFlex="20%">
      <div fxLayout="column">
        <div class="grey_color">Origen</div>
        <div class="bold">{{ document.source }}</div>
      </div>
      <div fxLayout="column">
        <div class="grey_color">Evaluación de la Fuente</div>
        <div class="bold">{{ document.sourceEvaluation }}</div>
      </div>
    </div>
    <div fxLayout="column" class="Dato_S" fxLayoutGap="10px" fxFlex="20%">
      <div fxLayout="column">
        <div class="grey_color">Plantilla utilizada</div>
        <div class="bold">{{ document.templateUsed }}</div>
      </div>
      <div fxLayout="column">
        <div class="grey_color">Fecha de creacción</div>
        <div class="bold">{{ document.createdAt }}</div>
      </div>
    </div>
    <div fxLayout="column" class="Dato_S" fxLayoutGap="10px" fxFlex="30%">
      <div fxLayout="column">
        <div class="grey_color">Restricciones del documento</div>
        <div class="bold">{{ document.restrictions.length }} restricciones</div>
      </div>
      <div fxLayout="column">
        <div class="grey_color">Etiquetas del documento</div>
        <div class="bold" id="tags">
          {{ returnTags(document.tags).text }}
          <span *ngIf="returnTags(document.tags).others.length">
            ,
            <span
              class="plus cursor primary_color"
              matTooltip="...{{returnTags(document.tags).others.join(', ')}}"
            >
              {{ " +" + returnTags(document.tags).others.length }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
