@import "../../../variables.scss";

.Box {
  margin: 12px 0;
  border: 1px solid grey;

  .header {
    padding: 12px 12px 4px;
  }
  div.expanded {
    border-top: 1px solid grey;
    padding: 12px;
  }
  .status {
    font-style: italic;
    padding: 0 5px;
  }

  .Big_Icon {
    font-size: 120px;
    height: 120px;
    width: 120px;
    color: grey;
    opacity: 0.1;
    position: absolute;
  }
  .Inside_Icon {
    height: 120px;
    width: 120px;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    position: relative;
    opacity: 0.3;
  }

  .overlay {
    visibility: hidden;
    position: relative;
    background: white;
    padding: 5px;
    top: -48px;
    left: 72px;
    overflow: visible;
  }
  .plus:hover .overlay {
    visibility: visible;
  }
}
