@import "../../variables.scss";

.button_search {
  width: 40px;
  height: 40px;
  color: white;
}
.separator {
  border-left: 1px solid grey;
  max-height: 40px;
  padding-left: 15px;
}

.left-item {
  mat-icon {
    padding-top: 10px;
  }
}
