<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutGap="15px" class="left-item">
    <mat-icon  fxLayout="column" fxLayoutAlign="center" class="primary_color cursor" on-click="onBackClick()">arrow_back</mat-icon>
    <div class="separator" fxLayout="row" fxLayoutGap="15px">
      <mat-icon  fxLayout="column" fxLayoutAlign="center" class="primary_color">person</mat-icon>
      <div fxLayout="column" fxLayoutAlign="center"> Nombre de Persona Física</div>
    </div>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input type="email" matInput placeholder="Buscar por nombre" />
    </mat-form-field>
    <mat-icon class="Icon_L button_search primary_bg cursor" on-click="onSearchClick()">search</mat-icon>
  </div>
</div>
