<div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-tab-group
      selectedIndex="1"
      [selectedIndex]="selected"
      (selectedIndexChange)="selected = $event"
    >
      <mat-tab
        disabled
        [label]="'Expedientes (' + records.length + ')'"
      ></mat-tab>
      <mat-tab [label]="'Documentos (' + documents.length + ')'"> </mat-tab>
    </mat-tab-group>

    <div fxLayout="row" fxLayoutGap="12px" class="cursor primary_color" on-click="expandAll()" *ngIf="isAllExpanded(documents)">
      <div fxLayout="column" fxLayoutAlign="center">Desplegar todo</div>
      <div fxLayout="column" fxLayoutAlign="center">
        <mat-icon fxLayout="column" class="Icon_M"
          >expand_more</mat-icon
        >
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="12px" class="cursor primary_color" on-click="deExpandAll()" *ngIf="!isAllExpanded(documents)">
      <div fxLayout="column" fxLayoutAlign="center">Contraer todo</div>
      <div fxLayout="column" fxLayoutAlign="center">
        <mat-icon fxLayout="column" class="Icon_M"
          >expand_less</mat-icon
        >
      </div>
    </div>
  </div>

  <div [ngSwitch]="selected">
    <div *ngSwitchCase="0">
      <app-element *ngFor="let record of records"></app-element>
    </div>
    <div *ngSwitchCase="1" class="documents">
      <cdk-virtual-scroll-viewport itemSize="documents.length" id='viewport'>
        <app-element *cdkVirtualFor="let document of documents" [document]="document"></app-element>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
