$primary: mediumblue;
$secondary: darkgreen;

.primary_color {
  color: $primary;
}
.primary_bg {
  background-color: $primary;
}
.secondary_color {
  color: $secondary;
}
.secondary_bg {
  background-color: $secondary;
}
.grey_color {
  color: lightgrey;
}
.grey_bg {
  background-color: whitesmoke;
}
.violet_color {
  color: violet;
}

.Icon_S {
  font-size: 12px;
  height: 12px;
  width: 12px;
}
.Icon_M {
  font-size: 24px;
}
.Icon_L {
  font-size: 40px;
  height: 40px;
  width: 40px;
}
.cursor {
  cursor: pointer;
}

.Dato_S {
  font-size: 12px;
}
.Dato_M {
  font-size: 14px;
}
.bold {
  font-weight: bold;
}
.lineClamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
